<div class="col-xs-12 col-sm-12">
    <div class="paymentBox">

        <!-- ACCORDION
        =================================================================== -->
        <div class="panel-group paymentMethod" id="accordion">

            <!-- PANEL
            =============================================================== -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title">
                        <a class="cashOnDelivery" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="numberCircuil">Panel 1</span> <strong> Panel 1 Title</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>This is some introductory text. It is usually just a couple sentences, briefly explaining the nature of this panel.</p>
                        <br>
                        <label class="radio-inline" for="radios-4">
                            <input name="radios" id="radios-4" value="4" type="radio">
                            Select This Panel (Radios)
                        </label>
                        <div class="form-group">
                            <label for="CommentsOrder">Here's a textarea input for things like extra information, comments, etc.</label>
                            <textarea id="CommentsOrder" class="form-control" name="CommentsOrder" cols="26" rows="3"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <label class="checkbox-inline" for="checkboxes-1">
                                <input name="checkboxes" id="checkboxes-1" value="1" type="checkbox">
                                I have read and agree to the <a href="terms-conditions.html">Terms &amp; Conditions</a>
                            </label>
                        </div>
                        <div class="pull-right">
                            <a href="checkout-5.html" class="btn btn-primary btn-small "> Order &nbsp; <i class="fa fa-arrow-circle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PANEL
            =============================================================== -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <h4 class="panel-title">
                        <a class="cashOnDelivery" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="numberCircuil">Panel 1</span> <strong> Panel 1 Title</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>This is some introductory text. It is usually just a couple sentences, briefly explaining the nature of this panel.</p>
                        <br>
                        <label class="radio-inline" for="radios-4">
                            <input name="radios" id="radios-4" value="4" type="radio">
                            Select This Panel (Radios)
                        </label>
                        <div class="form-group">
                            <label for="CommentsOrder">Here's a textarea input for things like extra information, comments, etc.</label>
                            <textarea id="CommentsOrder" class="form-control" name="CommentsOrder" cols="26" rows="3"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <label class="checkbox-inline" for="checkboxes-1">
                                <input name="checkboxes" id="checkboxes-1" value="1" type="checkbox">
                                I have read and agree to the <a href="terms-conditions.html">Terms &amp; Conditions</a>
                            </label>
                        </div>
                        <div class="pull-right">
                            <a href="checkout-5.html" class="btn btn-primary btn-small "> Order &nbsp; <i class="fa fa-arrow-circle-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.panel-group #accordion -->

    </div><!-- /.paymentBox -->
</div><!-- /.col-xs-12 -->
