<!-- <div data-hook="account_summary" class="account-summary well"> -->
  <dl id="user-info">
    <dt><%= Spree.t(:email) %></dt>
    <dd><%= @user.email %> <%= icon_link_to '', spree.edit_account_path, icon: 'pencil' %></dd>
    <dt>Password</dt>
    <dd>******** <%= icon_link_to '', spree.edit_account_path, icon: 'pencil' %></dd>
  </dl>
<!-- </div> -->
<hr>
