<!--- this part will be hidden for mobile version -->
<div class="dropdown  cartMenu ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= fa_icon "shopping-cart", class: "fa-lg" %>
        <span class="cartRespons">
        	<%= "#{current_order.display_total}" if current_order && current_order.total > 0 %>
    	</span>
        <b class="caret"> </b>
    </a>

    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
        <%= render partial: 'tshop/shared/navbar_cart_body' %>
    </div>
    <!--/.dropdown-menu-->
</div>
<!--/.cartMenu-->


