<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart">
    <%= fa_icon 'shopping-cart', class: "colorWhite" %>
    <span class="badge"><%= @order.line_items.count if @order %></span>
</button>

<!-- this part is duplicate from cartMenu  keep it for mobile -->
<div class="navbar-cart  collapse">
    <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
        <%= render partial: 'tshop/shared/navbar_cart_body' %>
    </div>
    <!--/.cartMenu-->
</div>
