<div class="product-tab w100 clearfix">

    <ul class="nav nav-tabs">
        <% if @product.properties.present? %>
            <li class="active"><a href="#details" data-toggle="tab">Properties</a></li>
        <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- PANE 1: Properties -->
        <% if @product.properties.present? %>
            <div class="tab-pane active" id="details">
                <table class="table">
                    <% @product.properties.each do |property| %>
                        <tr>
                            <td><strong><%= property.presentation %></strong></td>
                            <td><%= @product.property(property.name) %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        <% end %>

    </div>

</div>

<div style="clear:both"></div>
