<div class="product-tab w100 clearfix">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
        <li><a href="#size" data-toggle="tab">Size</a></li>
        <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="details">Sed ut eros felis. Vestibulum rutrum imperdiet nunc a
            interdum. In scelerisque libero ut elit porttitor commodo. Suspendisse laoreet magna nec
            urna
            fringilla viverra.<br>
            100% Cotton<br></div>
        <div class="tab-pane" id="size"> 16" waist<br>
            34" inseam<br>
            10.5" front rise<br>
            8.5" knee<br>
            7.5" leg opening<br>
            <br>
            Measurements taken from size 30<br>
            Model wears size 31. Model is 6'2 <br>
            <br>
        </div>

        <div class="tab-pane" id="shipping">
            <table>
                <colgroup>
                    <col style="width:33%">
                    <col style="width:33%">
                    <col style="width:33%">
                </colgroup>
                <tbody>
                <tr>
                    <td>Standard</td>
                    <td>1-5 business days</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Two Day</td>
                    <td>2 business days</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>Next Day</td>
                    <td>1 business day</td>
                    <td>$30</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">* Free on orders of $50 or more</td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <!-- /.tab content -->

</div>
<!--/.product-tab-->

<div style="clear:both"></div>
