<!-- Product Details Modal  -->
<div class="modal fade" id="productDetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productDetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            Loading...
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
