<% if @recommended_products %>
    <div class="row recommended">

        <h1> YOU MAY ALSO LIKE </h1>

        <div id="SimilarProductSlider">
            <% @recommended_products.each do |p| %>
                <div class="item">
                    <div class="product"><a class="product-image"> <%= image_tag "tshop/product/#{p.id}.jpg", alt: p.name %> </a>

                        <div class="description">
                            <h4><a href="san-remo-spaghetti">p.name</a></h4>

                            <div class="price"><span>display_price(p)</span></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
<% end %>

<div style="clear:both"></div>
