<div class="product-share clearfix">
    <p> SHARE </p>

    <div class="socialIcon">
        <a href="#"> <i class="fa fa-facebook"></i></a>
        <a href="#"> <i class="fa fa-twitter"></i></a>
        <a href="#"> <i class="fa fa-google-plus"></i></a>
        <a href="#"> <i class="fa fa-pinterest"></i></a>
    </div>
</div>
<!--/.product-share-->
