<section data-hook="checkout_header">

	<div class="row">
	    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
	        <h1 class="section-title-inner" data-hook="checkout_title">
	        	<span>
	        		<i class="fa fa-shopping-cart"></i>
	        		<%= Spree.t(:checkout) %>
	    		</span>
	    	</h1>
	    </div>
	    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
	        <h4 class="caps">
	        	<%= icon_link_to "Continue Shopping", products_path, icon: 'chevron-left' %>
	        </h4>
	    </div>
	</div>
	<!--/.row-->

	<div class="row" data-hook="checkout_progress">
		<%= tshop_checkout_progress %>
	</div>
	<!-- /.row -->

</section>
