<div id="checkout-summary" data-hook="checkout_summary_box" class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
	    
    <%= checkout_continue_button outside_form: true, btn_block: true %>
    <%= render partial: 'tshop/shared/cart_summary_box' %>

</div>
<!--/rightSidebar-->
