<div id="existing_cards">
    <p class="form-group" data-hook="existing_cards">
        <div class="existing-credit-card-list">
            <% @payment_sources.each do |card| %>
                <div id="<%= dom_id(card,'spree') %>">
                    <label>
                        <%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" } %>
                        <%= [card.name, card.display_number, "#{card.month}/#{card.year.to_s[2,2]}"].join " - " %>
                    </label>
                </div>
            <% end %>
        </div>
    </p>
</div><!-- /#existing_cards -->