<div class="catTopBar clearfix">
    <div class="catTopBarInner clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="f-left hidden-xs">
                <h4 class="filterToggle"><i class="fa fa-bars"></i> <strong>Filter</strong> <span> &nbsp; </span></h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="f-right">
                <div class="w100  clearfix center-xs-inner">

                    <%# TODO implement sorting functionality, and uncomment this %>
                    <!--
                    <p class="pull-left shrtByP center-xs">
                        <span>Sort By :</span>
                        <a class="active">NEW</a> |
                        <a>POPULAR</a> |
                        <a>PRICE</a>
                    </p>
                     -->
                     <div class="pull-right hidden-xs">
                        <p class="pull-right change-view-flat">
                            <span>View By :</span>
                            <a href="#" title="Grid" class="grid-view"><i class="fa fa-th-large"></i> </a>
                            | <a href="#" title="List" class="list-view "><i class="fa fa-th-list"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
